@import "tailwindcss";

@layer base {
  body {
    @apply bg-slate-950 text-slate-200 antialiased;
    font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
  }
}

button {
  @apply cursor-pointer;
}